{% extends "base.html" %}
<!---->
{% load static %}
<!-- Navbar End -->
{% block hero %}{% endblock hero %}
<!-- section-->
<!-- section-->
<!-- section-->
<!-- section-->
<!-- section-->
<!-- section-->
<!-- section-->
<!-- section-->
<!-- section-->

{% block main %}
<div class="container">
  <div class="row g-4">
    <div class="row g-4">
      <div class="col-lg-8 col-md-7">
        <div class="card border-0 shadow rounded overflow-hidden">
          <img
            src="{{post.image.url}}"
            class="img-fluid"
            alt=""
            style="width: auto; max-height: 400px"
          />

          <div class="card-body">
            <p class="text-muted">{{post.content|safe}}</p>

            <a href="javascript:void(0)" class="badge badge-link bg-primary"
              >Minimal</a
            >
            <a href="javascript:void(0)" class="badge badge-link bg-primary"
              >Interior</a
            >
            <a href="javascript:void(0)" class="badge badge-link bg-primary"
              >Furniture</a
            >
          </div>
        </div>

        <!-- section-->
        {% include "posts/comments.html" %}
        <!-- section-->

        {% include "posts/comment_form.html" %}
      </div>
      <!--end col-->

      <!-- section-->
      {% include "posts/recent_posts.html" %}
      <!--end col-->
      <!-- section-->
      <!-- section-->
    </div>
  </div>
</div>
{% endblock main %}
