{% extends "base.html" %} {% load static %}
<!---->
{% block title %}{{ block.super }}{% endblock title %}
<!---->

{% block hero %}
<!--Hero starts-->
{% include "home/sections/hero.html" %} {% endblock hero %}
<!---->
{% block main %}

<div class="container">
  <div class="row g-4">
    <div class="col-md-4">
      <div class="counter-box text-center">
        <h1 class="fw-bold">
          <span class="counter-value" data-target="100">100</span>+
        </h1>
        <h6 class="counter-head text-muted text-uppercase">Job Fulfillment</h6>
      </div>
      <!--end counter box-->
    </div>

    <div class="col-md-4">
      <div class="counter-box text-center">
        <h1 class="fw-bold">
          <span class="counter-value" data-target="{{job.positions.count}}"
            >{{job.positions.count}}</span
          >+
        </h1>
        <h6 class="counter-head text-muted text-uppercase">Available Jobs</h6>
      </div>
      <!--end counter box-->
    </div>

    <div class="col-md-4">
      <div class="counter-box text-center">
        <h1 class="fw-bold">
          <span
            class="counter-value"
            data-target="{{job.get_applications.count}}"
          ></span
          >+
        </h1>
        <h6 class="counter-head text-muted text-uppercase">Served Clients</h6>
      </div>
      <!--end counter box-->
    </div>
  </div>
</div>
<!--end container-->

<!--category slide-->
{% include "home/sections/category.html" %}
<!--/category slide-->

<div class="container mt-60 mt-100">
  <div class="row g-4 align-items-center">
    <div class="col-lg-6 col-md-6 mb-5">
      <div class="about-left">
        <div class="position-relative shadow rounded img-one">
          <img
            src="{% static 'images/about/medium-shot-nurse.jpg' %}"
            class="img-fluid rounded"
            alt="work-image"
          />
        </div>

        <div class="img-two shadow rounded p-2 bg-white">
          <img
            src="{% static 'images/about/male-social.jpg' %}"
            class="img-fluid rounded"
            alt="work-image"
          />

          <div class="position-absolute top-0 start-50 translate-middle">
            <a
              href="#!"
              data-type="youtube"
              data-id="yba7hPeTSjk"
              class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox"
            >
              <i class="mdi mdi-play mdi-24px text-primary"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->
    <div class="col-lg-6 col-md-6">
      <div class="section-title ms-lg-5">
        <h4 class="title mb-3">
          Explore Exciting Job Opportunities Worldwide. <br />
          Discover Your Ideal Position, Locally and Abroad.
        </h4>
        <p class="text-muted para-desc mb-0">
          Search through a multitude of job openings both locally and
          internationally. Tailor your search with personalized salary estimates
          and gain insights from reviews on over 2000 companies globally.
        </p>

        <ul class="list-unstyled text-muted mb-0 mt-3">
          <li class="mb-1">
            <span class="text-primary h5 me-2">
              <i class="mdi mdi-check-circle-outline align-middle"></i>
            </span>
            Find the Best Contract Jobs Matching Your Skills
          </li>
          <li class="mb-1">
            <span class="text-primary h5 me-2">
              <i class="mdi mdi-check-circle-outline align-middle"></i>
            </span>
            Explore Opportunities in Skilled and Non-Skilled Professions
          </li>
          <li class="mb-1">
            <span class="text-primary h5 me-2">
              <i class="mdi mdi-check-circle-outline align-middle"></i>
            </span>
            Unlock Your Career Potential Abroad with the Best Jobs
          </li>
        </ul>

        <div class="mt-4">
          <a href="#" class="btn btn-primary">
            Discover More <i class="mdi mdi-arrow-right align-middle"></i>
          </a>
        </div>
      </div>
    </div>

    <!--end col-->
  </div>
  <!--end row-->
</div>
<!--end container-->
{% include "home/sections/jobs.html" %}
<!---->

{% include "home/sections/why-us.html" %}
<!---->
{% include "home/sections/best-companies.html" %}
<!---->
{% include "home/sections/blogs.html" %}
<!---->
{% endblock main %}
<!---->
<!---->
<!---->

{% block messages %} {% if messages %}
<script>
  {% include "account/auth/messages.html" %}
</script>

{% endif %} {% endblock messages %}
