{% extends "base.html" %} {% load static %}
<!---->
{% block title %}{{ block.super }}{% endblock title %}
<!---->

{% block hero %}
<!--Hero starts-->
{% include "home/sections/hero.html" %} {% endblock hero %}
<!---->
{% block main %}

<div class="container">
  <div class="row g-4">
    <div class="col-md-4">
      <div class="counter-box text-center">
        <h1 class="fw-bold">
          <span class="counter-value" data-target="1548">1010</span>K+
        </h1>
        <h6 class="counter-head text-muted text-uppercase">Job Fulfillment</h6>
      </div>
      <!--end counter box-->
    </div>

    <div class="col-md-4">
      <div class="counter-box text-center">
        <h1 class="fw-bold">
          <span class="counter-value" data-target="25">2</span>+
        </h1>
        <h6 class="counter-head text-muted text-uppercase">Branches</h6>
      </div>
      <!--end counter box-->
    </div>

    <div class="col-md-4">
      <div class="counter-box text-center">
        <h1 class="fw-bold">
          <span class="counter-value" data-target="9">0</span>+
        </h1>
        <h6 class="counter-head text-muted text-uppercase">Years Experience</h6>
      </div>
      <!--end counter box-->
    </div>
  </div>
</div>
<!--end container-->

<!--category slide-->
{% include "home/sections/category.html" %}
<!--/category slide-->

<div class="container mt-60 mt-100">
  <div class="row g-4 align-items-center">
    <div class="col-lg-6 col-md-6 mb-5">
      <div class="about-left">
        <div class="position-relative shadow rounded img-one">
          <img
            src="{% static 'images/about/ab01.jpg' %}"
            class="img-fluid rounded"
            alt="work-image"
          />
        </div>

        <div class="img-two shadow rounded p-2 bg-white">
          <img
            src="{% static 'images/about/ab02.jpg' %}"
            class="img-fluid rounded"
            alt="work-image"
          />

          <div class="position-absolute top-0 start-50 translate-middle">
            <a
              href="#!"
              data-type="youtube"
              data-id="yba7hPeTSjk"
              class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox"
            >
              <i class="mdi mdi-play mdi-24px text-primary"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-6 col-md-6">
      <div class="section-title ms-lg-5">
        <h4 class="title mb-3">
          Millions of jobs. <br />
          Find the one that's right for you.
        </h4>
        <p class="text-muted para-desc mb-0">
          Search all the open positions on the web. Get your own personalized
          salary estimate. Read reviews on over 30000+ companies worldwide.
        </p>

        <ul class="list-unstyled text-muted mb-0 mt-3">
          <li class="mb-1">
            <span class="text-primary h5 me-2"
              ><i class="mdi mdi-check-circle-outline align-middle"></i></span
            >Digital Marketing Solutions for Tomorrow
          </li>
          <li class="mb-1">
            <span class="text-primary h5 me-2"
              ><i class="mdi mdi-check-circle-outline align-middle"></i></span
            >Our Talented & Experienced Marketing Agency
          </li>
          <li class="mb-1">
            <span class="text-primary h5 me-2"
              ><i class="mdi mdi-check-circle-outline align-middle"></i></span
            >Create your own skin to match your brand
          </li>
        </ul>

        <div class="mt-4">
          <a href="" class="btn btn-primary"
            >About Us <i class="mdi mdi-arrow-right align-middle"></i
          ></a>
        </div>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
<!--end container-->
{% include "home/sections/jobs.html" %}
<!---->

{% include "home/sections/why-us.html" %}
<!---->
{% include "home/sections/best-companies.html" %}
<!---->
{% include "home/sections/blogs.html" %}
<!---->
{% endblock main %}
<!---->
<!---->
<!---->

{% block messages %} {% if messages %}
<script>
  {% include "account/auth/messages.html" %}
</script>

{% endif %} {% endblock messages %}
