{% extends "base.html" %}
<!---->
{% load static %}
<!-- Navbar End -->
{% block hero %}{% endblock hero %}
<!-- section-->

{% block main %}
<section class="bg-half-170 d-table w-100">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h5
            class="heading fw-semibold mb-0 sub-heading text-white title-dark"
          >
            {{service.title}}
          </h5>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="position-middle-bottom">
      <nav aria-label="breadcrumb" class="d-block">
        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
          <li class="breadcrumb-item">
            <a href="{% url 'jobwey:home' %}">Jobwey</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Services</li>
        </ul>
      </nav>
    </div>
  </div>
  <!--end container-->
</section>
<br />
<br />
<!--end section-->

<div class="container">
  <div class="row g-4">
    <div class="row g-4">
      <div class="col-lg-8 col-md-7">
        <div class="card border-0 shadow rounded overflow-hidden">
          <div class="card-body">
            <p class="text-muted text-dark mt-2">{{service.title}}</p>
            <hr />
            <p class="text-muted">{{service.content|safe}}</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <!-- section-->
      {% include "posts/recent_posts.html" %}
      <!--end col-->
      <!-- section-->
      <!-- section-->
    </div>
  </div>
</div>
{% endblock main %}
