{% load static %} {% load humanize %}
<!---->
<div class="container mt-100 mt-60">
  <div class="row g-4 align-items-center">
    <div class="col-lg-6 col-md-6 mb-5 order-md-2 order-1">
      <div class="about-right">
        <div class="position-relative shadow rounded img-one">
          <img
            src="{% static 'images/about/employment-opportunity-hiring-jobs-icon_53876-122512.jpg' %}"
            class="img-fluid rounded"
            alt="work-image"
          />
        </div>

        <div class="img-two shadow rounded p-2 bg-white">
          <img
            src="{% static 'images/about/medium-shot-colleagues.jpg' %}"
            class="img-fluid rounded"
            alt="work-image"
          />

          <div class="position-absolute top-0 start-50 translate-middle">
            <a
              href="#!"
              data-type="youtube"
              data-id="yba7hPeTSjk"
              class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox"
            >
              <i class="mdi mdi-play mdi-24px text-primary"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0 order-md-1 order-2">
      <div class="section-title mb-4 me-lg-5">
        <h4 class="title mb-3">Get noticed by top employers</h4>
        <p class="text-muted para-desc mb-0">
          We can help you put your CV in front of the right people, so you can
          land your dream job. Stand out from the crowd. We will help you tailor
          your CV and cover letter to each job you apply for, so you can make a
          great impression. We know what employers are looking for, and with our
          help, you can land the job you've always wanted.
        </p>
      </div>
      {% if best_companies %}
      <div class="row g-4 mt-0">
        {% for company in best_companies %}

        <div class="col-md-6">
          <div class="employer-card rounded shadow p-2 bg-light">
            <div class="d-flex align-items-center">
              <img
                src="{{company.logo.url}}"
                class="avatar avatar-md-sm rounded shadow p-2 bg-white"
                alt="{{company.name}}"
              />

              <div class="content ms-3">
                <a
                  href="{{company.get_absolute_url}}"
                  class="h5 title text-dark"
                  >{{company.name}}</a
                >
                <span class="text-muted d-flex align-items-center small mt-1"
                  >{{company.positions_avg|intword}} vacancy</span
                >
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>

      <div class="mt-4">
        <a
          href="{% url 'company:company_list_view' %}"
          class="btn btn-link primary text-muted"
          >See More Companies <i class="mdi mdi-arrow-right align-middle"></i
        ></a>
      </div>
      {% endif %}
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
<!--end container-->
