{% load static %}

<div class="container mt-100 mt-60">
  <div class="row justify-content-center mb-4 pb-2">
    <div class="col-12">
      <div class="section-title text-center">
        <h4 class="title mb-3">Popular Categories</h4>
        <p class="text-muted para-desc mx-auto mb-0">
          Find Your Next Opportunity: Explore In-Demand Non-Skilled Job Roles.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-4">
      <div class="tiny-five-item">
        <div class="tiny-slide">
          <div
            class="position-relative job-category text-center px-4 py-5 rounded shadow m-2"
          >
            <div
              class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
            >
              <i data-feather="airplay" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
              <a href="" class="title h5 text-dark">Nanny</a>
              <p class="text-muted mb-0 mt-3">Available Positions</p>
            </div>
          </div>
        </div>

        <div class="tiny-slide">
          <div
            class="position-relative job-category text-center px-4 py-5 rounded shadow m-2"
          >
            <div
              class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
            >
              <i data-feather="award" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
              <a href="" class="title h5 text-dark">Waiter</a>
              <p class="text-muted mb-0 mt-3">Available Positions</p>
            </div>
          </div>
        </div>

        <div class="tiny-slide">
          <div
            class="position-relative job-category text-center px-4 py-5 rounded shadow m-2"
          >
            <div
              class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
            >
              <i data-feather="at-sign" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
              <a href="" class="title h5 text-dark">Cleaner</a>
              <p class="text-muted mb-0 mt-3">Available Positions</p>
            </div>
          </div>
        </div>

        <div class="tiny-slide">
          <div
            class="position-relative job-category text-center px-4 py-5 rounded shadow m-2"
          >
            <div
              class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
            >
              <i data-feather="codesandbox" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
              <a href="" class="title h5 text-dark">Truck Driver</a>
              <p class="text-muted mb-0 mt-3">Available Positions</p>
            </div>
          </div>
        </div>

        <div class="tiny-slide">
          <div
            class="position-relative job-category text-center px-4 py-5 rounded shadow m-2"
          >
            <div
              class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
            >
              <i data-feather="chrome" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
              <a href="" class="title h5 text-dark">Nurses</a>
              <p class="text-muted mb-0 mt-3">Available Positions</p>
            </div>
          </div>
        </div>

        <div class="tiny-slide">
          <div
            class="position-relative job-category text-center px-4 py-5 rounded shadow m-2"
          >
            <div
              class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
            >
              <i data-feather="copy" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
              <a href="" class="title h5 text-dark">Janitor</a>
              <p class="text-muted mb-0 mt-3">Available Positions</p>
            </div>
          </div>
        </div>

        <div class="tiny-slide">
          <div
            class="position-relative job-category text-center px-4 py-5 rounded shadow m-2"
          >
            <div
              class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
            >
              <i data-feather="cpu" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
              <a href="" class="title h5 text-dark">Driver</a>
              <p class="text-muted mb-0 mt-3">Available Positions</p>
            </div>
          </div>
        </div>
        <div class="tiny-slide">
          <div
            class="position-relative job-category text-center px-4 py-5 rounded shadow m-2"
          >
            <div
              class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
            >
              <i data-feather="cpu" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
              <a href="" class="title h5 text-dark">House Keeping</a>
              <p class="text-muted mb-0 mt-3">Available Positions</p>
            </div>
          </div>
        </div>
        <div class="tiny-slide">
          <div
            class="position-relative job-category text-center px-4 py-5 rounded shadow m-2"
          >
            <div
              class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
            >
              <i data-feather="cpu" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
              <a href="" class="title h5 text-dark">Receptionists</a>
              <p class="text-muted mb-0 mt-3">Available Positions</p>
            </div>
          </div>
        </div>
        <div class="tiny-slide">
          <div
            class="position-relative job-category text-center px-4 py-5 rounded shadow m-2"
          >
            <div
              class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
            >
              <i data-feather="cpu" class="fea icon-ex-md"></i>
            </div>

            <div class="mt-4">
              <a href="" class="title h5 text-dark">Care Giver</a>
              <p class="text-muted mb-0 mt-3">Available Positions</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
