{% load static %}

<section
  class="bg-half-170 d-table w-100 bg-primary"
  style="background: url('{% static 'images/bg2.png' %}') center"
>
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-md-6">
        <div class="title-heading">
          <h1 class="heading text-white fw-bold">
            Get hired <br />
            by the popular <br />
            candidates.
          </h1>
          <p class="para-desc text-white-50 mb-0">
            Find Jobs, Employment & Career Opportunities. Some of the companies
            we've helped recruit excellent applicants over the years.
          </p>

          <div class="text-center subscribe-form mt-4">
            <form style="max-width: 800px">
              <div class="mb-0">
                <div class="position-relative">
                  <i
                    data-feather="search"
                    class="fea icon-20 position-absolute top-50 start-0 translate-middle-y ms-3"
                  ></i>
                  <input
                    type="text"
                    id="help"
                    name="name"
                    class="shadow rounded-pill bg-white ps-5"
                    required=""
                    placeholder="Search jobs & candidates ..."
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-pills">
                  Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6">
        <div class="position-relative ms-lg-5">
          <img
            src="{% static 'images/hero1.png' %}"
            class="img-fluid p-5"
            alt=""
          />

          <div class="spinner">
            <div
              class="position-absolute top-0 start-0 mt-lg-5 mt-4 ms-lg-5 ms-4"
            >
              <img
                src="{% static 'images/company/circle-logo.png' %}"
                class="avatar avatar-md-sm rounded shadow p-2 bg-white"
                alt=""
              />
            </div>
            <div class="position-absolute top-0 start-50 translate-middle-x">
              <img
                src="{% static 'images/company/facebook-logo.png' %}"
                class="avatar avatar-md-sm rounded shadow p-2 bg-white"
                alt=""
              />
            </div>
            <div
              class="position-absolute top-0 end-0 mt-lg-5 mt-4 me-lg-5 me-4"
            >
              <img
                src="{% static 'images/company/google-logo.png' %}"
                class="avatar avatar-md-sm rounded shadow p-2 bg-white"
                alt=""
              />
            </div>
            <div class="position-absolute top-50 start-0 translate-middle-y">
              <img
                src="{% static 'images/company/lenovo-logo.png' %}"
                class="avatar avatar-md-sm rounded shadow p-2 bg-white"
                alt=""
              />
            </div>
            <div class="position-absolute top-50 end-0 translate-middle-y">
              <img
                src="{% static 'images/company/android.png' %}"
                class="avatar avatar-md-sm rounded shadow p-2 bg-white"
                alt=""
              />
            </div>
            <div
              class="position-absolute bottom-0 start-0 mb-lg-5 mb-4 ms-lg-5 ms-4"
            >
              <img
                src="{% static 'images/company/linkedin.png' %}"
                class="avatar avatar-md-sm rounded shadow p-2 bg-white"
                alt=""
              />
            </div>
            <div class="position-absolute bottom-0 start-50 translate-middle-x">
              <img
                src="{% static 'images/company/skype.png' %}"
                class="avatar avatar-md-sm rounded shadow p-2 bg-white"
                alt=""
              />
            </div>
            <div
              class="position-absolute bottom-0 end-0 mb-lg-5 mb-4 me-lg-5 me-4"
            >
              <img
                src="{% static 'images/company/snapchat.png' %}"
                class="avatar avatar-md-sm rounded shadow p-2 bg-white"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
