{% load static %}

<div class="container mt-100 mt-60">
  <div class="row align-items-end mb-4 pb-2">
    <div class="col-lg-6 col-md-9">
      <div class="section-title text-md-start text-center">
    <h4 class="title mb-3">Discover Job Opportunities</h4>
    <p class="text-muted para-desc mb-0">
        Explore numerous job openings online, receive a customized salary estimate, and access reviews for 2000 + companies globally.
    </p>
</div>
    </div>
    <!--end col-->

    <div class="col-lg-6 col-md-3 d-none d-md-block">
      <div class="text-md-end">
        <a
          href="{% url 'company:job_list_view' %}"
          class="btn btn-link primary text-muted"
          >See More Jobs <i class="mdi mdi-arrow-right"></i
        ></a>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
  {% if jobs %}

  <div class="row g-4 mt-0">
    {% for job in jobs %}
    <div class="col-lg-4 col-md-6 col-12">
      <div class="job-post rounded shadow p-4">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <img
              src="{{job.company.logo.url}}"
              class="avatar avatar-small rounded shadow p-3 bg-white"
              alt="{{job.company.name}}"
            />

            <div class="ms-3">
              <a
                href="{{job.company.get_absolute_url}}"
                class="h5 company text-dark"
                >{{job.company.name|title}}</a
              >
              <span class="text-muted d-flex align-items-center small mt-2"
                ><i data-feather="clock" class="fea icon-sm me-1"></i
                >{{job.createdAt|timesince}} ago</span
              >
            </div>
          </div>

          <span class="badge bg-soft-primary">{{job.get_type_display}}</span>
        </div>

        <div class="mt-4">
          <a href="{{job.get_absolute_url}}" class="text-dark title h5"
            >{{job.title|title}}</a
          >

          <span class="text-muted d-flex align-items-center mt-2"
            ><i data-feather="map-pin" class="fea icon-sm me-1"></i
            >{{job.location|title}}</span
          >

          <div class="progress-box mt-3">
            <div class="progress mb-2">
              <div
                class="progress-bar position-relative bg-primary"
                style="width: {{job.get_applied_percent}}%"
              ></div>
            </div>

            <span class="text-dark"
              >{{job.get_applications.count}} applied of
              <span class="text-muted">{{job.positions}} vacancy</span></span
            >
          </div>
        </div>
      </div>
      <!--end job post-->
    </div>
    <!--end col-->
    {% endfor %}

    <div class="col-12 d-md-none d-block">
      <div class="text-center">
        <a href="#" class="btn btn-link primary text-muted"
          >See More Jobs <i class="mdi mdi-arrow-right"></i
        ></a>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>

{% endif %}
