{% load static %}

<div class="container mt-100 mt-60">
  <div class="row justify-content-center mb-4 pb-2">
    <div class="col-12">
      <div class="section-title text-center">
        <h4 class="title mb-3">
          We Provide Many Possibilities in the Job Market
        </h4>
        <p class="text-muted para-desc mx-auto mb-0">
          We have many employers and many job categories with best salary rates.
          We have genuine testimonials from our happy clients all around the
          world We do our best to deliver both local jobs and abroad jobs
          suitable for any gender, skills or experience
        </p>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->

  <!--end col-->

  <!--end col-->

  <!--end col-->

  <div class="row mt-4">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
      <div
        class="position-relative features text-center p-4 rounded shadow bg-white"
      >
        <div
          class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
        >
          <i data-feather="cpu" class="fea icon-ex-md"></i>
        </div>

        <div class="mt-4">
          <a href="" class="title h5 text-dark">Abroad Job Opportunities</a>
          <p class="text-muted mt-3 mb-0">
            Explore a variety of international positions with our expert advice
            on job selection and expectations in foreign countries.
          </p>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
      <div
        class="position-relative features text-center p-4 rounded shadow bg-white"
      >
        <div
          class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
        >
          <i data-feather="activity" class="fea icon-ex-md"></i>
        </div>

        <div class="mt-4">
          <a href="" class="title h5 text-dark">Quick & Easy Process</a>
          <p class="text-muted mt-3 mb-0">
            Benefit from our efficient services, including fast feedback on job
            applications, swift passport and visa processing, and assistance
            with required documents.
          </p>
          <div class="mt-3">
            <a href="" class="btn btn-link primary text-dark"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
      <div
        class="position-relative features text-center p-4 rounded shadow bg-white"
      >
        <div
          class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
        >
          <i data-feather="info" class="fea icon-ex-md"></i>
        </div>

        <div class="mt-4">
          <a href="" class="title h5 text-dark">Job Guidance</a>
          <p class="text-muted mt-3 mb-0">
            We link you with both local and international employers, providing
            expert advice on suitable jobs in various foreign countries and
            expectations.
          </p>
          <div class="mt-3">
            <a href="" class="btn btn-link primary text-dark"></a>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
      <div
        class="position-relative features text-center p-4 rounded shadow bg-white"
      >
        <div
          class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
        >
          <i data-feather="check-circle" class="fea icon-ex-md"></i>
        </div>

        <div class="mt-4">
          <a href="" class="title h5 text-dark">Guarantees</a>
          <p class="text-muted mt-3 mb-0">
            You are guaranteed employment from verified companies and employers,
            on-time monthly or daily wages, health and safety, and a stable
            contract with the employer.
          </p>
          <div class="mt-3">
            <a href="" class="btn btn-link primary text-dark"></a>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
      <div
        class="position-relative features text-center p-4 rounded shadow bg-white"
      >
        <div
          class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
        >
          <i data-feather="smartphone" class="fea icon-ex-md"></i>
        </div>

        <div class="mt-4">
          <a href="" class="title h5 text-dark">Convenience</a>
          <p class="text-muted mt-3 mb-0">
            We provide quick feedback for your job application, fast passport
            and visa processing, and assistance with other documents such as
            CVs, resumes, recommendation letters, etc.
          </p>
          <div class="mt-3">
            <a href="" class="btn btn-link primary text-dark"></a>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
      <div
        class="position-relative features text-center p-4 rounded shadow bg-white"
      >
        <div
          class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
        >
          <i data-feather="book" class="fea icon-ex-md"></i>
        </div>

        <div class="mt-4">
          <a href="" class="title h5 text-dark">Knowledge</a>
          <p class="text-muted mt-3 mb-0">
            We provide all the information useful to you, such as our terms and
            conditions, employer requirements, overseas policies or details,
            work ethic, personal precautions, etc.
          </p>
          <div class="mt-3">
            <a href="" class="btn btn-link primary text-dark"></a>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
      <div
        class="position-relative features text-center p-4 rounded shadow bg-white"
      >
        <div
          class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
        >
          <i data-feather="award" class="fea icon-ex-md"></i>
        </div>

        <div class="mt-4">
          <a href="" class="title h5 text-dark">Quality Services</a>
          <p class="text-muted mt-3 mb-0">
            We understand the expenses involved in applying for jobs abroad and
            how the process can be tricky. With us, you get quality services at
            affordable charges for first-time or subsequent job applications.
          </p>
          <div class="mt-3">
            <a href="" class="btn btn-link primary text-dark"></a>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
      <div
        class="position-relative features text-center p-4 rounded shadow bg-white"
      >
        <div
          class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center"
        >
          <i data-feather="dollar-sign" class="fea icon-ex-md"></i>
        </div>

        <div class="mt-4">
          <a href="" class="title h5 text-dark">No Fees</a>
          <p class="text-muted mt-3 mb-0">
            We don't charge any fees of any kind for registration or referrals
            to our services. In case of any inquiries, you can reach out to us
            through email, phone call, or WhatsApp.
          </p>
          <div class="mt-3">
            <a href="" class="btn btn-link primary text-dark"></a>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->
  </div>

  <!--end row-->
</div>
