{% extends "base.html" %} {% load static %} {% load humanize %}
<!---->
{% block hero %}

<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!-- Hero End -->
{% endblock hero %}
<!---->

{% block head %}{{ block.super }}{% endblock head %}

<!---->

{% block main %} {% if candidates %}
<div class="container">
  <div class="row g-4">
    {% for candidate in candidates %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div
        class="candidate-card position-relative overflow-hidden text-center shadow rounded p-4"
      >
        {% if candidate.is_active %}
        <div class="ribbon ribbon-left overflow-hidden">
          <span class="text-center d-block bg-warning shadow small h6"
            ><i class="mdi mdi-star"></i
          ></span>
        </div>
        {% endif %}
        <div class="content">
          <img
            src="{% static 'images/team/01.jpg' %}"
            class="avatar avatar-md-md rounded-pill shadow-md"
            alt=""
          />

          <div class="mt-3">
            <a href="candidate-profile.html" class="title h5 text-dark"
              >{{candidate.full_name|title}}</a
            >
            <p class="text-muted mt-1">{{candidate.job.title}}</p>
            {% if candidate.skills %} {% for skill in candidate.split_skills %}

            <span class="badge bg-soft-primary rounded-pill">{{skill}}</span>
            {% endfor %} {% endif %}
          </div>

          <div class="mt-2 d-flex align-items-center justify-content-between">
            <div class="text-center">
              <p class="text-muted fw-medium mb-0">Salary:</p>
              <p class="mb-0 fw-medium">
                ${{candidate.job.min_salary|intword}} -
                ${{candidate.job.max_salary|intword}}
              </p>
            </div>

            <div class="text-center">
              <p class="text-muted fw-medium mb-0">Experience:</p>
              <p class="mb-0 fw-medium">2 Years</p>
            </div>
          </div>

          <div class="mt-3">
            <a
              href="{{candidate.get_absolute_url}}"
              class="btn btn-sm btn-primary me-1"
              >Read Testimony</a
            >
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-icon btn-soft-primary"
              ><i data-feather="message-circle" class="icons"></i
            ></a>
          </div>

          <a href="javascript:void(0)" class="like"
            ><i class="mdi mdi-heart align-middle fs-4"></i
          ></a>
        </div>
      </div>
    </div>
    <!--end col-->
    {% endfor %}
  </div>
  <!--end row-->
  {% if is_paginated %} {% include "company/pagination.html" %} {% endif %}
</div>
{% endif %} {% endblock main %}
