
{% load static %}

<!---->
<style>
  div > ul,
  ul {
    list-style: none;
  }
</style>
<!---->

<footer class="bg-footer">
  <div class="py-5">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-md-7">
          <div class="section-title">
            <div class="d-flex align-items-center">
              <i data-feather="bookmark" class="fea icon-lg"></i>
              <div class="flex-1 ms-3">
                <h4 class="fw-bold text-white mb-2">Best Job Portal</h4>
                <p class="text-white-50 mb-0">
                  At Jobwey, we're not just an average job platform, we're the bridge to your brighter future. We understand the anxieties, challenges, and excitement of navigating the unknown landscape of the job market. That's why we don't just offer jobs, we offer possibilities.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--end col-->

        <div class="col-md-5 mt-4 mt-sm-0">
          <div class="text-md-end ms-5 ms-sm-0">
            <a href="{% url 'company:job_list_view' %}" class="btn btn-primary me-1 my-1">Apply Now</a>
            <a href="" class="btn btn-soft-primary my-1">Contact Us</a>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </div>
  <!--end div-->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="py-5">
          <div class="row align-items-center">
            <div class="col-sm-3">
              <div class="text-center text-sm-start">
                <a href=""><img src="{% static 'images/jobwey4p.png' %}" alt="" /></a>
              </div>
            </div>

            <div class="col-sm-9 mt-4 mt-sm-0">
              <ul class="list-unstyled footer-list terms-service text-center text-sm-end mb-0">
                <li class="list-inline-item my-2">
                  <a href="{% url 'jobwey:home' %}" class="text-foot fs-6 fw-medium me-2"> Home |</a>
                </li>
                <li class="list-inline-item my-2">
                  <a href="{% url 'jobwey:home' %}" class="text-foot fs-6 fw-medium me-2"> How it works |</a>
                </li>
                <li class="list-inline-item my-2">
                  <a href="job-post.html" class="text-foot fs-6 fw-medium me-2"> Apply |</a>
                </li>
                <li class="list-inline-item my-2">
                  <a href="{% url 'aboutus' %}" class="text-foot fs-6 fw-medium me-2"> About us |</a>
                </li>
                <li class="list-inline-item my-2">
                  <a href="{% url 'contact' %}" class="text-foot fs-6 fw-medium"> Contact Us |</a>
                </li>
                <li class="list-inline-item my-2">
                  <a href="#" class="text-foot fs-6 fw-medium"> Jobs |</a>
                </li>
                <li class="list-inline-item my-2">
                  <a href="#" class="text-foot fs-6 fw-medium"> Testimonies |</a>
                </li>
              </ul>
            </div>
            {% comment %}
            <div class="col-sm-3">
              <div class="text-center text-sm-start">
                <ul style="display: flex; margin: 0 10px">
                  <li style="margin-right: 20px">
                    <a href="#" target="_blank">
                      <img style="width: 150px; height: 50px" src="{% static 'images/app1.png' %}" alt="App" />
                    </a>
                  </li>
                  <br />
                  <li>
                    <a href="#" target="_blank">
                      <img style="width: 150px; height: 50px" src="{% static 'images/app2.png' %}" alt="App" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            {% endcomment %}

            <div class="col-sm-12 mt-4 mt-sm-0">
              <ul class="list-unstyled footer-list terms-service text-center text-sm-end mb-0">
                <li class="list-inline-item my-2">
                  <a href="{% url 'jobwey:services' %}" class="text-foot fs-6 fw-medium me-2"> Customer Services |</a>
                </li>
                <li class="list-inline-item my-2">
                  <a href="{% url 'terms' %}" class="text-foot fs-6 fw-medium me-2"> Terms & conditions |</a>
                </li>
                <li class="list-inline-item my-2">
                  <a href="{% url 'privacy' %}" class="text-foot fs-6 fw-medium me-2"> Privacy Policy |</a>
                </li>
                <li class="list-inline-item my-2">
                  <a href="{% url 'contract' %}" class="text-foot fs-6 fw-medium me-2"> Contracts |</a>
                </li>

                <li class="list-inline-item my-2">
                  <a href="{% url 'jobwey:visas' %}" class="text-foot fs-6 fw-medium"> Visas |</a>
                </li>
              </ul>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="py-4 footer-bar">
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="text-sm-start">
            <p class="mb-0 fw-medium">
              ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              Jobwey | All Rights Reserved
            </p>
          </div>
        </div>

        <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
          <ul class="list-unstyled social-icon foot-social-icon text-sm-end mb-0">
            <li class="list-inline-item">
              <a href="https://dribbble.com/{{dribbble}}" target="_blank" class="rounded"><i data-feather="dribbble" class="fea icon-sm align-middle" title="dribbble"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="http://linkedin.com/company/{{linkedin}}" target="_blank" class="rounded"><i data-feather="linkedin" class="fea icon-sm align-middle" title="Linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/{{facebook}}" target="_blank" class="rounded"><i data-feather="facebook" class="fea icon-sm align-middle" title="facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/{{instagram}}/" target="_blank" class="rounded"><i data-feather="instagram" class="fea icon-sm align-middle" title="instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/{{twitter}}" target="_blank" class="rounded"><i data-feather="twitter" class="fea icon-sm align-middle" title="twitter"></i></a>
            </li>
          </ul>
          <!--end icon-->
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </div>
</footer>
