<{% extends "base.html" %}
<!---->
{% load static %}
<!-- Navbar End -->
{% block hero %}{% endblock hero %}
<!-- section-->

{% block main %}

<!-- Hero Start -->
<section class="bg-half-170 d-table w-100">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h5
            class="heading fw-semibold mb-0 sub-heading text-white title-dark"
          >
            Privacy Policy
          </h5>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="position-middle-bottom">
      <nav aria-label="breadcrumb" class="d-block">
        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
          <li class="breadcrumb-item">
            <a href="{% url 'jobwey:home' %}">Jobwey</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Privacy</li>
        </ul>
      </nav>
    </div>
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!-- Hero End -->

<!-- Start Privacy -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card shadow border-0 rounded">
          <div class="card-body">
            <h3 class="card-title">Privacy Policy for Jobwey Job Agency</h3>
            <p class="text-muted">*Last Updated: 31st August 2023*</p>

            <p class="text-muted">
              At Jobwey, we value your trust and are committed to protecting
              your privacy. This Privacy Policy outlines how we collect, use,
              and safeguard your personal information when you visit our
              website, engage with our services, or interact with us.
            </p>

            <!-- Section 1 -->
            <h4 class="card-title">1. Information We Collect:</h4>

            <!-- Subsection 1.1 -->
            <h5 class="card-title">1.1 Personal Information:</h5>
            <p class="text-muted">
              When you register on our platform or submit an application, we may
              collect personal information, including but not limited to your
              name, contact details, resume, cover letter, and other relevant
              documents.
            </p>

            <!-- Subsection 1.2 -->
            <h5 class="card-title">
              1.2 Job Postings and Employer Information:
            </h5>
            <p class="text-muted">
              For employers using our services to post job opportunities, we may
              collect information about your company, job descriptions, and
              other details necessary for recruitment.
            </p>

            <!-- Subsection 1.3 -->
            <h5 class="card-title">1.3 Usage Data:</h5>
            <p class="text-muted">
              We gather information about how you interact with our website and
              services. This may include your IP address, browser type, device
              information, and pages visited.
            </p>

            <!-- Subsection 1.4 -->
            <h5 class="card-title">1.4 Cookies:</h5>
            <p class="text-muted">
              We use cookies to enhance your browsing experience. Cookies are
              small data files stored on your device that help us recognize your
              preferences and improve our services.
            </p>

            <!-- Section 2 -->
            <h4 class="card-title">2. How We Use Your Information:</h4>

            <!-- Subsection 2.1 -->
            <h5 class="card-title">2.1 Recruitment Process:</h5>
            <p class="text-muted">
              Your personal information is used to facilitate the recruitment
              process. This includes matching candidates with suitable job
              opportunities, sharing your profile with potential employers, and
              arranging interviews.
            </p>

            <!-- Subsection 2.2 -->
            <h5 class="card-title">2.2 Communication:</h5>
            <p class="text-muted">
              We may use your contact details to communicate with you regarding
              job opportunities, application status, and other relevant updates.
              You can manage your communication preferences in your account
              settings.
            </p>

            <!-- Subsection 2.3 -->
            <h5 class="card-title">2.3 Service Improvement:</h5>
            <p class="text-muted">
              Analyzing usage data helps us improve our website and services. We
              use this information to enhance user experience, optimize job
              matching, and provide personalized content.
            </p>

            <!-- Section 3 -->
            <h4 class="card-title">3. Data Security:</h4>

            <!-- Subsection 3.1 -->
            <h5 class="card-title">3.1 Confidentiality:</h5>
            <p class="text-muted">
              We prioritize the confidentiality of your information. Access to
              personal data is restricted to authorized personnel involved in
              the recruitment process.
            </p>

            <!-- Subsection 3.2 -->
            <h5 class="card-title">3.2 Security Measures:</h5>
            <p class="text-muted">
              We employ industry-standard security measures to protect your data
              from unauthorized access, disclosure, alteration, and destruction.
              This includes encryption, secure server infrastructure, and
              regular security audits.
            </p>

            <!-- Section 4 -->
            <h4 class="card-title">4. Third-Party Services:</h4>

            <!-- Subsection 4.1 -->
            <h5 class="card-title">4.1 Job Postings:</h5>
            <p class="text-muted">
              To provide a comprehensive job listing, we may integrate with
              third-party job boards. Please be aware that these platforms have
              their privacy policies, and we encourage you to review them.
            </p>

            <!-- Subsection 4.2 -->
            <h5 class="card-title">4.2 Analytics and Marketing:</h5>
            <p class="text-muted">
              We use third-party analytics and marketing tools to better
              understand user behavior and preferences. These tools may use
              cookies and other tracking technologies.
            </p>

            <!-- Section 5 -->
            <h4 class="card-title">5. Your Choices:</h4>

            <!-- Subsection 5.1 -->
            <h5 class="card-title">5.1 Account Settings:</h5>
            <p class="text-muted">
              You have the option to review and update your account information,
              including personal details and communication preferences.
            </p>

            <!-- Subsection 5.2 -->
            <h5 class="card-title">5.2 Opt-Out:</h5>
            <p class="text-muted">
              If you no longer wish to receive communications from us, you can
              opt-out through the unsubscribe link provided in our emails or by
              contacting our support team.
            </p>

            <!-- Section 6 -->
            <h4 class="card-title">6. Retention and Deletion:</h4>

            <!-- Subsection 6.1 -->
            <h5 class="card-title">6.1 Data Retention:</h5>
            <p class="text-muted">
              We retain your personal information for the duration necessary to
              fulfill the purposes outlined in this Privacy Policy. After this
              period, we securely delete or anonymize your data.
            </p>

            <!-- Subsection 6.2 -->
            <h5 class="card-title">6.2 Account Deactivation:</h5>
            <p class="text-muted">
              You can request the deactivation of your account by contacting us.
              Upon account deactivation, your personal information will be
              securely archived or deleted.
            </p>

            <!-- Section 7 -->
            <h4 class="card-title">7. International Data Transfers:</h4>
            <p class="text-muted">
              As a recruitment agency dealing with foreign labor, your data may
              be transferred and stored internationally. We ensure that such
              transfers comply with applicable data protection laws.
            </p>

            <!-- Section 8 -->
            <h4 class="card-title">8. Updates to Privacy Policy:</h4>
            <p class="text-muted">
              We may update this Privacy Policy to reflect changes in our
              practices or legal requirements. We will notify you of significant
              updates, and the latest version will be available on our website.
            </p>

            <!-- Section 9 -->
            <h4 class="card-title">9. Contact Us:</h4>
            <p class="text-muted">
              If you have questions or concerns about our Privacy Policy, please
              contact us at our
              <a href="{% url 'contact' %}">Contact us Page</a>. We are here to
              address any inquiries and ensure your privacy is respected.
            </p>

            <p class="text-muted">
              By using Jobwey Recruitment Agency's services, you agree to the
              terms outlined in this Privacy Policy. We appreciate your trust in
              us and are committed to safeguarding your privacy throughout your
              recruitment journey.
            </p>

            <p class="text-muted">
              *Thank you for choosing Jobwey Job Agency!*
            </p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

<!--end section-->
<!-- End Privacy -->

{% endblock main %}
