{% extends "base.html" %}
<!---->
{% load static %}
<!-- Navbar End -->
{% block hero %}{% endblock hero %}
<!-- section-->

{% block main %}

<!-- Hero Start -->
<section class="bg-half-170 d-table w-100">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h5
            class="heading fw-semibold mb-0 sub-heading text-white title-dark"
          >
            Terms of Services
          </h5>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="position-middle-bottom">
      <nav aria-label="breadcrumb" class="d-block">
        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
          <li class="breadcrumb-item">
            <a href="{% url 'jobwey:home' %}">Jobwey</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">T&C</li>
        </ul>
      </nav>
    </div>
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!-- Hero End -->

<!-- Start Terms & Conditions -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card shadow border-0 rounded">
          <div class="card-body">
            <h5 class="card-title">Jobwey Job Agency</h5>
            <p class="text-muted">
              Thank you for choosing Jobwey Recruitment Agency as your partner
              in finding the right job and related services for you as an
              individual or organization. By using our services, you agree to
              comply with and be bound by the following terms and conditions:
            </p>
            <p class="text-muted">
              <strong>1. Registration and Account</strong><br />
              In order to access our services, you must register an account with
              accurate and up-to-date information. You are responsible for
              maintaining the confidentiality of your account credentials and
              any activities that occur under your account. Inform us
              immediately if you suspect any unauthorized access.
            </p>
            <p class="text-muted">
              <strong>2. Job Postings</strong><br />
              Jobwey allows employers to update us on job vacancies that allow
              us to upload the details on our platform. You agree that the job
              postings are accurate, lawful, and do not discriminate against any
              individual or group. We reserve the right to remove any postings
              that violate these principles.
            </p>
            <p class="text-muted">
              <strong>3. Candidate Selection</strong><br />
              Our agency follows a comprehensive candidate or client selection
              process. We endeavor to match your requirements with suitable
              candidates based on their qualifications, experience, and skills.
              However, we do not guarantee the suitability or availability of
              any candidate.
            </p>
            <p class="text-muted">
              <strong>4. Fees and Payments</strong><br />
              Using our recruitment services may involve certain fees. The
              specifics will be outlined in a separate agreement. Payment terms
              are agreed upon before any services are rendered. Note that fees
              are non-refundable, even if a candidate's employment is
              terminated.
            </p>
            <p class="text-muted">
              <strong>5. Interviews and Offers</strong><br />
              We facilitate the interview process between employers and
              candidates or Clients. While we strive for successful placements,
              the final decision to hire rests with the employer. Any employment
              offers, negotiations, or contractual agreements are made directly
              between the employer and the candidate.
            </p>
            <p class="text-muted">
              <strong>6. Confidentiality</strong><br />
              Both employers and candidates agree to treat any information
              shared during the recruitment process with strict confidentiality.
              This includes but is not limited to, company details, candidate
              profiles, and interview discussions.
            </p>
            <p class="text-muted">
              <strong>7. Equal Opportunity Employer</strong><br />
              Jobwey Recruitment Agency promotes equal opportunities and
              prohibits discrimination based on race, color, religion, gender,
              sexual orientation, national origin, age, or disability. We expect
              our clients to adhere to these principles during the hiring
              process.
            </p>
            <p class="text-muted">
              <strong>8. Termination of Services</strong><br />
              We reserve the right to terminate a section of our services or
              multiple services at any time and for any reason. Similarly,
              employers and candidates have the right to discontinue our
              services without penalty. Any obligations or agreements made prior
              to termination will remain in effect.
            </p>
            <p class="text-muted">
              <strong>9. Liability and Indemnity</strong><br />
              Jobwey Recruitment Agency is not liable for any losses, damages,
              or disputes arising from the use of our services. Employers and
              candidates agree to indemnify us against any claims, costs, or
              liabilities resulting from their interactions or actions.
            </p>
            <p class="text-muted">
              <strong>10. Changes to Terms and Conditions</strong><br />
              We may update our terms and conditions from time to time. We will
              notify you of any changes and provide the updated terms on our
              website. Continued use of our services after such changes implies
              your acceptance of the revised terms.
            </p>
            <p class="text-muted">
              <strong>11. Governing Law</strong><br />
              These terms and conditions are governed by the laws of Kenya. Any
              disputes arising from their interpretation or implementation shall
              be subject to the jurisdiction of Kenyan courts.
            </p>
            <p class="text-muted">
              We encourage you to read these terms and conditions carefully
              before using our services. If you have any questions or concerns,
              please feel free to contact us. Your satisfaction and successful
              recruitment are important to us.
            </p>

            <p class="text-muted">Last updated: August 30, 2023</p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End Terms & Conditions -->

{% endblock main %}
