{% extends "base.html" %} {% load static %} {% load humanize %}
<!---->
{% block hero %}

<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!-- Hero End -->
{% endblock hero %}
<!---->

{% block head %}{{ block.super }}{% endblock head %}

<!---->

{% block main %}
<!-- Hero Start -->
<section
  class="bg-half-170 d-table w-100"
  style="background: url('images/hero/bg.jpg')"
>
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h5
            class="heading fw-semibold mb-0 sub-heading text-white title-dark"
          >
            Jobs Available
          </h5>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!-- Hero End -->

<div class="container">
  <div class="row g-4">
    {% include "company/job/job_filter.html" %}
    <!--end col-->

    <div class="col-lg-8 col-md-6 col-12">
      {% if jobs %}
      <div class="row g-4">
        {% for job in jobs %}
        <div class="col-12">
          <div
            class="job-post job-post-list rounded shadow p-4 d-md-flex align-items-center justify-content-between position-relative"
          >
            <div class="d-flex align-items-center w-250px">
              <img
                src="{{job.company.logo.url}}"
                class="avatar avatar-small rounded shadow p-3 bg-white"
                alt="{{job.title}}"
              />

              <div class="ms-3">
                <a href="{{job.get_absolute_url}}" class="h5 title text-dark"
                  >{{job.title|title}}</a
                >
              </div>
            </div>

            <div
              class="d-flex align-items-center justify-content-between d-md-block mt-3 mt-md-0 w-100px"
            >
              <span class="badge bg-soft-primary rounded-pill"
                >{{job.get_type_display}}</span
              >
              <span
                class="text-muted d-flex align-items-center fw-medium mt-md-2"
                ><i
                  data-feather="clock"
                  class="fea icon-sm me-1 align-middle"
                ></i
                >{{job.createdAt|timesince}} ago</span
              >
            </div>

            <div
              class="d-flex align-items-center justify-content-between d-md-block mt-2 mt-md-0 w-130px"
            >
              <span class="text-muted d-flex align-items-center"
                ><i
                  data-feather="map-pin"
                  class="fea icon-sm me-1 align-middle"
                ></i
                >{{job.location|title}}</span
              >
              <span class="d-flex fw-medium mt-md-2"
                >${{job.min_salary|intword}} -
                ${{job.max_salary|intword}}/mo</span
              >
            </div>

            <div class="mt-3 mt-md-0">
              <a
                href=""
                class="btn btn-sm btn-icon btn-pills btn-soft-primary bookmark"
                ><i data-feather="bookmark" class="icons"></i
              ></a>
              <a
                href="{{job.get_application_url}}"
                class="btn btn-sm btn-primary w-full ms-md-1"
                >Apply Now</a
              >
            </div>
          </div>
        </div>
        <!--end col-->
        {% endfor %}
      </div>
      {% endif %}
      <!--end row-->

      {% if is_paginated %} {% include "company/pagination.html" %} {% endif %}
      <!--end row-->
    </div>
  </div>
</div>
<!--end container-->

{% endblock main %}
